# Created by .ignore support plugin (hsz.mobi)
.DS_Store

# client
/client/node_modules/
/client/dist/
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# react-mall
/react-mall/node_modules
/react-mall/coverage
/react-mall/build
/react-mall/.DS_Store
/react-mall/.env.local
/react-mall/.env.development.local
/react-mall/.env.test.local
/react-mall/.env.production.local

/react-mall/npm-debug.log*
/react-mall/yarn-debug.log*
/react-mall/yarn-error.log*

# server
/server/node_modules

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
