# Created by .ignore support plugin (hsz.mobi)
.DS_Store

# client
/client/node_modules/
/client/dist/
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

logfile.log
uncaughtExceptions.log

# server
/server/node_modules

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
