# Created by .ignore support plugin (hsz.mobi)
.DS_Store

# client
/client/node_modules/
/client/dist/
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/mock/

logfile.log
uncaughtExceptions.log

# server
/server/node_modules
/server/logfile.log
/server/uncaughtExceptions.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
